.datatable-crud .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 960px) {
    .datatable-crud .table-header {
        align-items: flex-start;
    }
}
.datatable-crud .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 960px) {
    .datatable-crud .p-toolbar {
        flex-wrap: wrap;
    }
    .datatable-crud .p-toolbar .p-button {
        margin-bottom: 0.25rem;
    }
    .datatable-crud .table-header {
        flex-direction: column;
    }
    .datatable-crud .table-header .p-input-icon-left, .datatable-crud .table-header input {
        width: 100%;
    }
}